<div class="flex items-center gap-2">
    <img src="{{ asset('imgs/logo.svg') }}" class="size-10">
    <div class="hidden md:block font-bold text-3xl text-amber-500 !no-underline font-mono">
        HEC
    </div>
</div>
