<form method="{{ method }}" action="{{ action }}">
    <input type="hidden" name="_token" value="{{ csrf }}">
    <wa-button type="submit" appearance="plain">
        <wa-icon name="{{ iconName }}" class="hec-icon"></wa-icon>
    </wa-button>
</form>
