<div class="flex justify-between">
    <h3 class="">{{ title }}</h3>
    <wa-button size="small" variant="primary" href="{{ path(createRouteName) }}">
        <wa-icon name="add"></wa-icon>
    </wa-button>
</div>
