{% extends 'logged.html.twig' %}

{% block title %}Hello HouseController!{% endblock %}

{% block content %}

<div>
    {% for house in houses %}
        <li>{{ house.name }}</li>
    {% else %}
        <li>Žádné domy nenalezeny</li>
    {% endfor %}
</div>
{% endblock %}
