{% extends 'logged.html.twig' %}

{% block title %}Hello HouseController!{% endblock %}

{% block content %}
    <div class="max-w-[50rem]">
        <twig:SectionHeader title="{{ 'title'|trans({}, 'house') }}" createRouteName="app_house_create"/>
        <turbo-frame id="house_table" src="{{ path('app_house', {page: page, perPage: perPage}) }}"
                     data-turbo-action="advance">
            <twig:SkeletonTable colsCount="3" rowsCount="5"></twig:SkeletonTable>
        </turbo-frame>
    </div>
{% endblock %}
