<div class="flex flex-col items-center p-4 border border-gray-200 bg-white gap-2">
    <div class="bg-amber-400/25 p-4">
        <wa-icon name="{{icon}}"></wa-icon>
    </div>
    <div class="text-lg font-bold text-gray-700">{{title}}</div>
    <div class="text-gray-700"> {{text}}</div>
</div>
