{% extends 'logged.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block content %}
<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/html/src/Controller/DashboardController.php</code></li>
        <li>Your template at <code>/var/www/html/templates/dashboard/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
