@import "tailwindcss";

:root {
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --2xl: 1536px;
}

* {
    box-sizing: border-box;
}
wa-button.nav-btn::part(base){
    display: flex !important;
    justify-content: start;
    width: 100%;
}
@layer components {
    th{
        color: var(--color-gray-600);
    }
    td{
        background-color: var(--color-gray-50);
    }
    table{
        @apply !border !border-gray-200 !rounded;
    }
    .hec-icon {
        @apply text-amber-500;
    }
    .section-table{
        max-width: 150rem;
    }
}

@layer base {
    .logged-layout {
        display: grid;
        grid-template-areas:
        "logo header"
        "content content";
        grid-template-rows: auto 1fr;
        grid-template-columns: auto 1fr;
        height: 100vh
    }

    .logged-layout-logo {
        grid-area: logo;
        display: grid;
        place-items: center;
    }

    .logged-layout-header {
        grid-area: header;
    }

    .logged-layout-content {
        grid-area: content;
    }

    .logged-layout-nav {
        grid-area: nav;
        display: none;
    }

    @media (min-width: 640px) {

    }

    @media (min-width: 768px) {
        .logged-layout {
            display: grid;
            grid-template-areas:
        "logo header header"
        "nav content content";
            grid-template-rows: auto 1fr;
            grid-template-columns: auto 1fr 1fr;
            height: 100vh;
        }

        .logged-layout-nav {
            grid-area: nav;
            display: block;
        }
    }

    @media (min-width: 1024px) {

    }

    @media (min-width: 1280px) {

    }

    @media (min-width: 1536px) {

    }
}
