@import "tailwindcss";
*{
    box-sizing: border-box;
}
.logged-layout{
    display: grid;
    grid-template-areas:
        "logo header header"
        "nav content content";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr 1fr;
    height: 100vh
}
.logged-layout-logo{
    grid-area: logo;
    display: grid;
    place-items: center;
}
.logged-layout-nav{
    grid-area: nav;
}

.logged-layout-header{
    grid-area: header;
}

.logged-layout-content{
    grid-area: content;
}
@layer components {
    .hec-icon{
        @apply text-amber-500;
    }

}
