{% extends 'logged.html.twig' %}

{% block title %}Hello PerformanceProfileController!{% endblock %}

{% block content %}
    <div class="max-w-[80rem]">
        <twig:SectionHeader title="{{ 'title'|trans({}, 'performance_profile') }}" createRouteName="app_performance_profile_create"/>
        <turbo-frame id="performance_profile_table" src="{{ path('app_performance_profile', {page: page, perPage: perPage}) }}"
                     data-turbo-action="advance">
            <twig:SkeletonTable colsCount="3" rowsCount="5"></twig:SkeletonTable>
        </turbo-frame>
    </div>
{% endblock %}
