{% extends 'auth.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
    <div class="gap-1 flex flex-col">

        {{ form_row(resetForm.plainPassword) }}
    </div>
    <wa-button type="submit" class="mt-2 w-full">Reset password</wa-button>
    {{ form_end(resetForm) }}
{% endblock %}
