{% extends 'base.html.twig' %}
{% set currentRoute = app.request.attributes.get('_route') %}
{% block body %}
    <div class="logged-layout">
        <div class="logged-layout-logo bg-white">
            <a href="{{ path('app_dashboard') }}" class="!no-underline">
                <twig:AppLogo></twig:AppLogo>
            </a>
        </div>
        <header class="logged-layout-header flex justify-between p-2 items-center bg-white mr-10">
            {% if currentRoute != 'app_house' %}
                <twig:SelectedHouse></twig:SelectedHouse>
                {% else %}
                <div></div>
            {% endif %}
            <div class="flex items-center">
                <div class="md:hidden">
                    <wa-drawer label="HEC" id="mobile-nav">
                        <twig:LanguageSelect/>
                        <twig:NavigationMenu/>
                    </wa-drawer>

                    <wa-button appearance="plain"
                               data-controller="dialog"
                               data-action="click->dialog#handleClick"
                               data-dialog-dialog-id-value="mobile-nav"
                    >
                        <wa-icon name="bars"></wa-icon>
                    </wa-button>
                </div>
                <div class="hidden md:block">
                    <twig:LanguageSelect/>
                </div>
                <twig:ProfileDropdown/>
            </div>
        </header>
        <div class="logged-layout-nav">
            <twig:NavigationMenu/>
        </div>
        <div class="logged-layout-content p-8 bg-gray-100 border border-gray-200 rounded">
            {% block content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
